/**************************************************************************
*   Temp stuff to 'debug' CSS for L2 styles
**************************************************************************/
   /**************************************************************************
   *   DOM tree items on level I debug
   **************************************************************************/
      /**************************************************************************
      *   Disable display for children
      **************************************************************************/
         body > header > *, body > header > * > * {
            opacity: 0;
         }

         body > .underheader > *, body > .underheader > * > * {
            opacity: 0;
         }

         body > .goods-promo > *, body > .goods-promo > * > * {
            opacity: 0;
         }

         body > .welcome-message > *, body > .welcome-message > * > * {
            opacity: 0;
         }

         body > footer > *, body > footer > * > * {
            opacity: 0;
         }

      /**************************************************************************
      *   Set debug heights
      **************************************************************************/
         section.goods-promo, section.welcome-message, footer {
            height: 2rem !important;
         }

   /**************************************************************************
   *   DOM tree items on level II+ debug
   **************************************************************************/
      /**************************************************************************
      *   *header
      **************************************************************************/
         /**************************************************************************
         *   Display for header, underheader
         **************************************************************************/
            body > header > *, body > header > * > * {
               opacity: 1;
            }

            body > .underheader > * {
               opacity: 1;
            }
         /**************************************************************************
         *   Reset debug rules for header
         **************************************************************************/
            header {
               height: auto !important;
               border-top: none !important;
               border-left: none !important;
               border-right: none !important;
            }

            header > * {
               border: none;
            }

   /**************************************************************************
   *   goods-promo
   **************************************************************************/
         /**************************************************************************
         *   Display for goods-promo
         **************************************************************************/
/*            body > .goods-promo > *, body > .goods-promo > * > * {
               opacity: 1;
            }
*/
         /**************************************************************************
         *   Reset debug rules for goods-promo
         **************************************************************************/
/*            section.goods-promo {
               height: auto !important;
               border: none !important;               
            }

            section.goods-promo > * {
               border: none;
            }
*/
   /**************************************************************************
   *   welcome-message
   **************************************************************************/
         /**************************************************************************
         *   Display for welcome-message
         **************************************************************************/
            body > .welcome-message > *, body > .welcome-message > * > * {
               opacity: 1;
            }
            
         /**************************************************************************
         *   Reset debug rules for welcome-message
         **************************************************************************/
            section.welcome-message {
               height: auto !important;
               border: none !important;               
            }

            section.welcome-message > * {
               border: none;
            }

            section.welcome-message > * > * {
               border: none;
            }


   /**************************************************************************
   *   footer
   **************************************************************************/
         /**************************************************************************
         *   Display for footer
         **************************************************************************/
            body > footer > *, body > footer > * > * {
               opacity: 1;
            }
         /**************************************************************************
         *   Reset debug rules for footer
         **************************************************************************/
            footer {
               height: auto !important;
               border: none !important;               
            }

            footer > * > * {
               border: none;
            }














