/**************************************************************************
*   Reset (selective)
**************************************************************************/
   p {
      margin: 0;
   }

   ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
   }

   span {
      margin: 0;
   }

   iframe {
      margin: 0;
   }

   h1 {
      margin-bottom: 1rem;
      
   }
