/**************************************************************************
*   'Global' styles
**************************************************************************/
   /**************************************************************************
   *   CSS variables
   **************************************************************************/
   :root {
      --main-bg-color: #4D4D4D;
      --main-bg-section-color: #B26666;
      --main-color-text: #F2F2F2;
      --text-emphasis-color: #3CC;

      --mobile-menu-fill: #d9d9d9;

      --tear-off-border-width: 0.1rem;
      --tear-off-bg-color: #808080;
      --tear-off-border-color: #BFBFBF;
   }
